// main: ../main.scss

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span,
th,
td,
input,
cite,
a,
button,
select,
textarea,
label {
	font-family: $font-main;
}

a {
	color: $col-text-anchor;
}

h1 {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.22;
	letter-spacing: -0.02em;
}

h2 {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.14;
	letter-spacing: -0.02em;
}

h3 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: -0.01em;
}

h4 {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.4;
}

h5 {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.33;
}

h6 {
	font-size: 1.075rem;
	font-weight: 700;
	line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-main;
	font-style: normal;
	color: $col-dark-grey;

	&.display-1 {
		font-size: 4.5rem;
		font-weight: 900;
		line-height: 1.22;
		letter-spacing: -0.02em;
	}

	&.display-2 {
		font-size: 3.5rem;
		font-weight: 900;
		line-height: 1.14;
		letter-spacing: -0.02em;
	}

	&.display-3 {
		font-size: 2.75rem;
		font-weight: 900;
		line-height: 1.27;
		letter-spacing: -0.02em;
	}
}

.headline-1 {
	font-family: $font-main;
	font-style: normal;
	color: $col-dark-grey;
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.22;
	letter-spacing: -0.02em;
}

.headline-2 {
	font-family: $font-main;
	font-style: normal;
	color: $col-dark-grey;
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.14;
	letter-spacing: -0.02em;
}

.headline-3 {
	font-family: $font-main;
	font-style: normal;
	color: $col-dark-grey;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: -0.01em;
}

.headline-4 {
	font-family: $font-main;
	font-style: normal;
	color: $col-dark-grey;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.4;
}

.headline-5 {
	font-family: $font-main;
	font-style: normal;
	color: $col-dark-grey;
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.33;
}

p {
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.6;
	letter-spacing: -0.01em;
	color: $col-dark-grey;
	margin-bottom: 0;

	&.body-large {
		font-size: 1.5rem;
		line-height: 1.5;
	}

	&.body-medium {
		font-size: 1.25rem;
		line-height: 1.6;
	}

	&.body-small {
		font-size: 1.125rem;
		line-height: 1.56;
	}

	&.caption {
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		letter-spacing: 0.01em;
	}
}


.label-large-bold {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1;
}

.label-medium-bold {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.11;
}

.label-small-bold {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.25;
}

.label-large {
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1;
}

.label-medium {
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.11;
}

.label-small {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.25;
}

.results-title {
	font-size: 2.25rem;
	font-weight: 300;
	color: $col-dark-grey;
	line-height: 1.25;
	letter-spacing: -0.02em;

	strong {
		font-weight: 700;
	}
}

/* Medium - Media Query */
@media screen and (min-width: 48em) and (max-width: 89.9375em) {

	h1 {
		font-size: 2rem;
		line-height: 1.25;
	}

	h2 {
		font-size: 1.5rem;
		line-height: 1.17;
	}

	h3 {
		font-size: 1.375rem;
		line-height: 1.09;
	}

	h4 {
		font-size: 1.125rem;
		line-height: 1.33;
	}

	h5 {
		font-size: 1rem;
		line-height: 1.25;
	}

	h6 {
		font-size: .9375rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {

		&.display-1 {
			font-size: 3.75rem;
			line-height: 1.07;
		}

		&.display-2 {
			font-size: 3rem;
			line-height: 1.17;
		}

		&.display-3 {
			font-size: 2.5rem;
			line-height: 1.2;
		}
	}

	.headline-1 {
		font-size: 2rem;
		line-height: 1.25;
	}

	.headline-2 {
		font-size: 1.5rem;
		line-height: 1.17;
	}

	.headline-3 {
		font-size: 1.375rem;
		line-height: 1.09;
	}

	.headline-4 {
		font-size: 1.125rem;
		line-height: 1.33;
	}

	.headline-5 {
		font-size: 1rem;
		line-height: 1.25;
	}

	.results-title {
		font-size: 2rem;
	}

	p {
		font-size: 1.125rem;
		line-height: 1.56;

		&.body-large {
			font-size: 1.375rem;
			line-height: 1.45;
		}

		&.body-medium {
			font-size: 1.125rem;
			line-height: 1.56;
		}

		&.body-small {
			font-size: 1rem;
			line-height: 1.5;
		}

		&.caption {
			font-size: .875rem;
			line-height: 1.43;
		}
	}

	.label-large-bold {
		font-size: 1.125rem;
		line-height: 1.11;
	}

	.label-large {
		font-size: 1.125rem;
		line-height: 1.11;
	}
}

/* Small - Media Query */
@media screen and (max-width: 47.9375em) {

	h1 {
		font-size: 1.5rem;
		line-height: 1.17;
	}

	h2 {
		font-size: 1.375rem;
		line-height: 1.09;
	}

	h3 {
		font-size: 1.25rem;
		line-height: 1.2;
	}

	h4 {
		font-size: 1.125rem;
		line-height: 1.33;
	}

	h5 {
		font-size: 1rem;
		line-height: 1.25;
	}

	h6 {
		font-size: .9375rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {

		&.display-1 {
			font-size: 2.25rem;
			line-height: 1.11;
		}

		&.display-2 {
			font-size: 2rem;
			line-height: 1.25;
		}

		&.display-3 {
			font-size: 1.75rem;
			line-height: 1.14;
		}
	}

	.headline-1 {
		font-size: 1.5rem;
		line-height: 1.17;
	}

	.headline-2 {
		font-size: 1.375rem;
		line-height: 1.09;
	}

	.headline-3 {
		font-size: 1.25rem;
		line-height: 1.2;
	}

	.headline-4 {
		font-size: 1.125rem;
		line-height: 1.33;
	}

	.headline-5 {
		font-size: 1rem;
		line-height: 1.25;
	}

	.results-title {
		font-size: 1.5rem;
	}

	p {
		font-size: 1.125rem;
		line-height: 1.56;

		&.body-large {
			font-size: 1.25rem;
			line-height: 1.6;
		}

		&.body-medium {
			font-size: 1.125rem;
			line-height: 1.56;
		}

		&.body-small {
			font-size: 1rem;
			line-height: 1.5;
		}

		&.caption {
			font-size: .875rem;
			line-height: 1.43;
		}
	}

	.label-large-bold {
		font-size: 1.125rem;
		line-height: 1.11;
	}

	.label-medium-bold {
		font-size: 1rem;
		line-height: 1.25;
	}

	.label-small-bold {
		font-size: .875rem;
		line-height: 1.14;
	}

	.label-large {
		font-size: 1.125rem;
		line-height: 1.11;
	}

	.label-medium {
		font-size: 1rem;
		line-height: 1.25;
	}

	.label-small {
		font-size: .875rem;
		line-height: 1.14;
	}
}