/*.yoast-breadcrumbs {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    font-weight: 700;*/
/*}*/
.wrapper-breadcrumbs .breadcrumbs li span span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 1px;
    color: inherit;
    background-color: #0C2231;
    transition: .15s linear;
}
.wrapper-breadcrumbs .breadcrumbs li span {
    position: relative;
    display: inline-block;
    font-weight: 700;
}
.help-card .img-how-we-can-help{
    height: 80px;
}
/*.btn-primary span input{*/
/*    border: 0px;*/
/*    background-color: #fff;*/
/*    !*height: 0px;*!*/
/*border-radius: 0px;*/
/* border: 0px;*/
/*    font-weight: normal;*/
/*    font-size: 1.25rem;*/
/*    line-height: 1.11;*/
/* margin-bottom:0rem;*/
/*padding-left: 0rem;*/
/*font-family: "fp-dancer-pro",sans-serif;*/
/*padding-bottom: 0rem;*/
/*color: #3C5362;*/

/*}*/

/*.btn-primary span:after {*/
/*    content: "\e910";*/
/*    font-family: "icomoon";*/
/*    font-weight: normal;*/
/*    font-size: 1.25rem;*/
/*    line-height: 1;*/
/*    color: inherit;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    right: 1.25rem;*/
/*}*/
/*@media screen and (min-width: 48em) and (max-width: 89.9375em) {*/
/*    .btn-primary input:after {*/
/*        right: 1rem;*/
/*    }*/
/*}*/
