<!DOCTYPE html>
<html class="no-js"
      lang="en"
      dir="ltr">

{% include 'components/base/html-header.twig' %}

<body class="{{ body_class }}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQ6TTHCW"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% include 'components/base/header.twig' %}

<main id="maincontent">
    {% block hero %}

        {# page.show_hero_block might not be defined (for pages that were created before page.show_hero_block)
           The way that seems to work to check this is to compare the value of page.show_hero_block with ''
           Note (page.show_hero_block is defined) doesn't work in this case #}
        {% if ((page.show_hero_block == '') or page.show_hero_block) %}
            {% if page.hero_type == 1 %}
                {% include 'components/heros/hero-1.twig' with {'page': page} %}
            {% else %}
                {% include 'components/heros/hero-2.twig' with {'page': page} %}
            {% endif %}
        {% endif %}

        {% if not is_front_page %}
            {% include 'components/heros/breadcrumbs.twig' %}
        {% endif %}
    {% endblock %}

            {% block content %}
                <p>Sorry, no content</p>
            {% endblock %}

</main>

{% include 'components/base/footer.twig' %}

</body>
</html>

