{% extends "base.twig" %}

{% block content %}
<div class="wrapper-section">
    <div class="grid-container">

        <div class="grid-x grid-padding-x align-center">
            <div class="medium-11 small-11 cell">
                <div class="form-general">
                    <br>
                    {{ function('get_the_password_form') }}
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
