// main: ../main.scss

.wrapper-header {
  background-color: $col-white;

  .logo {
    display: inline-block;
    margin: 1.85rem 0;

    img {
      height: 36px;
      max-height: 36px;
    }
  }
}

/* Tablet - Media query */
@media screen and (min-width: 48em) and (max-width: 63.9375em) {

  .wrapper-header {
    height: 65px;

    .logo {
      margin: 1.2rem 0;

      img {
        max-height: 24px;
      }
    }
  }

}

/* Small - Media Query */
@media screen and (max-width: 47.9375em) {

  .wrapper-header {
    height: 65px;

    .logo {
      margin: 1.2rem 0;

      img {
        max-height: 24px;
      }
    }
  }

}
