<div class="wrapper-section p-bottom-9">
    <div class="grid-container">
        <ul class="metadata-list">
            {% for badge in badges %}
                <li class="label-item">{{ badge }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
