<div class="wrapper-section p-top-4 p-bottom-8">
    <div class="grid-container">

        <article class="wysiwyg-block wysiwyg">
            <h6>Event date: {{ fields.event_date|date('j M Y') }}</h6>
            <h6>Event time: {{ fields.event_time }}</h6>
            <h6>Location: {{ fields.event_address }}</h6>
        </article>
    </div>
</div>
