<!-- Intro -->
<div class="wrapper-section p-top-10 p-bottom-10">
    <div class="grid-container">
        <div class="section-title-block">
            <p class="body-large">{{ text }}</p>
        </div>
    </div>
</div>
