<div class="wrapper-section p-top-4 p-bottom-4">
    <div class="grid-container">
        <div class="wysiwyg-block wysiwyg">
            <h6>Published: {{ post.date|date('j M Y') }}</h6>
        </div>
    </div>
</div>
