name: 'Terraform, Build, Deploy (dev)'

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'

concurrency: ${{ github.workflow }}  # Prevents more than one instance of this workflow running at the same time

jobs:
  terraform_build_deploy:
    uses: ./.github/workflows/_build-and-deploy-shared.yml
    with:
      GITHUB_ACTIONS_ENVIRONMENT: Dev
      TERRAFORM_SERVICE_NAME: smc_web
      TERRAFORM_SERVICE_NAME_HYPHENS: smc-web
      TERRAFORM_ENVIRONMENT_NAME: Dev
      TERRAFORM_STATE_BUCKET: uk-gov-equality-hub-terraform-state-bucket
      TERRAFORM_STATE_FILE: smc-website--dev.tfstate
      TERRAFORM_TFVARS_FILE: dev.tfvars
    secrets:
      TERRAFORM_AWS_ACCESS_KEY_ID: ${{ secrets.TERRAFORM_AWS_ACCESS_KEY_ID }}
      TERRAFORM_AWS_SECRET_ACCESS_KEY: ${{ secrets.TERRAFORM_AWS_SECRET_ACCESS_KEY }}
